<section class="block container">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
      optio ex ipsum id magni minus eligendi velit porro autem quam.
    </p>
  </header>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit consectetur
        veniam ipsam, ab quia repudiandae reprehenderit placeat id nisi quaerat!
        Debitis, ipsum? Aliquid quo nisi vero fuga veritatis. Quod,
        exercitationem.
      </div>
    </div>
  </div>
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis,
      optio ex ipsum id magni minus eligendi velit porro autem quam.
    </p>
  </div>
</section>
<script src="js/main.js"></script>
