<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
      exercitationem quibusdam nisi suscipit sint consectetur labore, animi hic
      alias rerum assumenda similique magnam placeat quisquam corporis, ullam
      libero atque id.
    </p>
  </div>
</div>
</div>
